.list-group-item:hover {
  background-color: darkseagreen;
}

.list-group-item {
  margin: 5px;
}

div {
  background-color: blanchedalmond;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.testclass {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}